
.banner {
    background-image: url("../img/banner.jpg");
    background-position: center center ;
    background-size: cover;
    padding: 20%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    z-index: -1;
}

.menu{
    background-color: #1D5815;
    padding-bottom: 12px;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.fondo2{
    background-color: #0F3B08;
}

.footer-img{
    height: 80px;
}

.maps{
    height: 300px;
}